In [1]:
import pandas as pd
#import csv

In [2]:
train_img_d = pd.read_csv("data/digitdata/trainingimages", skip_blank_lines=False, squeeze=True)
test_lbl_d = pd.read_csv("data/digitdata/traininglabels", skip_blank_lines=False)
print(train_img_d.shape, test_lbl_d.shape)

(139999,) (4999, 1)

In [3]:
print('height of each number:', 140000/5000)
print('width of each number:', len(train_img_d[0]))

height of each number: 28.0
width of each number: 28

In [4]:
train_img_d[0:28]

0
1
2
3
4                     +++++##+
5             +++++######+###+
6            +##########+++++
7             #######+##
8             +++###  ++
9                +#+
10               +#+
11                +#+
12                +##++
13                 +###++
14                  ++##++
15                    +##+
16                     ###+
17                  +++###
18                ++#####+
19              ++######+
20            ++######+
21           +######+
22        ++######+
23        +####++
24
25
26
27
Name:                             , dtype: object

In [5]:
# Visualization of my conversion in next code block
test = train_img_d.copy()
test = test.apply(lambda x: x.replace('+', '1'))
test = test.apply(lambda x: x.replace('#', '2'))
#test.apply(lambda x: x.replace('', '1'), inplace=True)
test[0:28]

0
1
2
3
4                     11111221
5             1111122222212221
6            1222222222211111
7             2222222122
8             111222  11
9                121
10               121
11                121
12                12211
13                 122211
14                  112211
15                    1221
16                     2221
17                  111222
18                11222221
19              112222221
20            112222221
21           12222221
22        112222221
23        1222211
24
25
26
27
Name:                             , dtype: object

In [6]:
train_img_d_arr = [[0 for i in range(28)] for j in range(28)]
for i in range(28):
    for j in range(28):
        if train_img_d[i][j] == '+':
            train_img_d_arr[i][j] = 1
        if train_img_d[i][j] == '#':
            train_img_d_arr[i][j] = 2

In [7]:
# Test my formula to see if it is correct
sum(train_img_d_arr[23])

11